node_modules
CustomerData
test
Hosting Files
clientSim.py
prac.py
userSim.py
customerSim.py
Server_Dev/prac.py
Server_Dev/mongoClassTest.py
Server_Dev/ApiDBTesting.py
serverConnection.log
credentialServer.log
progressUpload.py