[Unit]
Description=Starting the Credential Server

[Service]
ExecStart=/home/Server/bin/python3.12  service_UserManager/userManager.py
WorkingDirectory=/mnt/c/Users/paart/Paarth Workshop/Startups/Neural Perk/Neuralperk/Main Server/NewServerArchitecture/
StandardOutput=file:/home/Neuralperk/mongoServerError.log
StandardError=file:/home/Neuralperk/mongoServerError.log

[Install]
WantedBy=multi-user.target

